select {
    font-size: 12px;
}

button {
    font-size: 12px;
}

label {
    font-size: 12px;
}

input {
    font-size: 10px;
    height: 5px;
}

div.tooltip {
    position: absolute;
    text-align: center;
    width: 120px;
    height: 60px;
    padding: 2px;
    font: 12px sans-serif;
    background: #000;
    border: 0px;
    border-radius: 2px;
    pointer-events: none;
    color: white;
}

span {
    margin-left: 1px;
    margin-right: 1px;
}

body {
    padding-left: 5%;
    padding-right: 5%;
}